/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 98, social/*.png */
.social-sprite, .facebook, .skype, .yahoo {
  background: url('/public/assets/img/social-s60fc98667c.png') no-repeat; }

/* line 9, ../sass/screen.scss */
.facebook {
  background-position: 0 -280px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .facebook:hover, .facebook.facebook_hover, .facebook.facebook-hover {
    background-position: 0 -224px; }

/* line 10, ../sass/screen.scss */
.skype {
  background-position: 0 -56px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .skype:hover, .skype.skype_hover, .skype.skype-hover {
    background-position: 0 0; }

/* line 11, ../sass/screen.scss */
.yahoo {
  background-position: 0 -392px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .yahoo:hover, .yahoo.yahoo_hover, .yahoo.yahoo-hover {
    background-position: 0 -336px; }

/* line 18, ../sass/screen.scss */
html {
  overflow-y: scroll;
  background: #fafafa; }

/* line 24, ../sass/screen.scss */
body {
  background-color: transparent;
  color: #1a171b;
  font-family: 'Lato', Calibri, Arial, sans-serif; }

/* line 30, ../sass/screen.scss */
.drop {
  display: none; }

/* line 32, ../sass/screen.scss */
#bar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 34px;
  background: url(../../assets/img/bg_header_top.png) repeat-x transparent;
  z-index: 100; }
  /* line 40, ../sass/screen.scss */
  #bar ul {
    list-style: none;
    width: 100%;
    max-width: 1170px;
    height: 24px;
    margin: 0 auto;
    letter-spacing: 0.05em;
    word-spacing: 0.3em;
    text-transform: uppercase;
    background: #1A171B; }
    /* line 50, ../sass/screen.scss */
    #bar ul li {
      position: relative;
      float: right;
      height: 24px;
      margin-right: 2px;
      padding: 0 14px 0 10px;
      background: transparent url(http://localhost:8080/SMShop/public/assets/img/bg_icons_rightaligned.png) right -203px no-repeat;
      line-height: 24px;
      white-space: nowrap;
      color: #fff; }
      /* line 51, ../sass/screen.scss */
      #bar ul li:first-child {
        background: none; }
      /* line 61, ../sass/screen.scss */
      #bar ul li a {
        font-size: 0.8em;
        text-decoration: none;
        color: #fff; }
        /* line 65, ../sass/screen.scss */
        #bar ul li a:hover {
          text-decoration: underline; }

/* line 71, ../sass/screen.scss */
header {
  position: absolute;
  height: 100px;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 3;
  -webkit-box-shadow: lightgrey 0px 5px 20px;
  -moz-box-shadow: lightgrey 0px 5px 20px;
  box-shadow: lightgrey 0px 5px 20px; }
  /* line 81, ../sass/screen.scss */
  header div#nav_header {
    margin-top: 37px; }
    /* line 83, ../sass/screen.scss */
    header div#nav_header a#logotype > img {
      height: 70px;
      margin-top: -10px; }
  /* line 88, ../sass/screen.scss */
  header ul {
    list-style: none; }
  /* line 91, ../sass/screen.scss */
  header #subNav {
    line-height: 0.8em;
    margin: 0.2em 0 0.2em 0; }
    /* line 94, ../sass/screen.scss */
    header #subNav li {
      display: inline;
      padding: 0 0 0 1.6em;
      background: url(http://localhost:8080/SMShop/public/assets/img/bg_icons.png?10) no-repeat -41px -40px;
      font-size: 0.8em;
      letter-spacing: 0.12em;
      text-transform: uppercase; }
      /* line 95, ../sass/screen.scss */
      header #subNav li:first-child {
        background: none; }
      /* line 104, ../sass/screen.scss */
      header #subNav li a {
        text-decoration: none;
        color: #1a171b; }
        /* line 107, ../sass/screen.scss */
        header #subNav li a:hover {
          text-decoration: underline; }
  /* line 111, ../sass/screen.scss */
  header #nav {
    margin-top: 0.8em; }
    /* line 113, ../sass/screen.scss */
    header #nav li {
      display: inline;
      padding: 0 0 0 1.3em;
      background: url(http://localhost:8080/SMShop/public/assets/img/bg_icons.png?10) no-repeat -41px -37px;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
      /* line 114, ../sass/screen.scss */
      header #nav li:first-child {
        background: none; }
      /* line 124, ../sass/screen.scss */
      header #nav li a {
        display: inline;
        margin: 5px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        text-decoration: none;
        color: #333333;
        text-shadow: 0px 0px 1px #aaaaaa; }
        /* line 133, ../sass/screen.scss */
        header #nav li a:hover {
          color: #e74c3c;
          margin: 0 15px 0 15px; }

/* line 143, ../sass/screen.scss */
div#main {
  position: relative;
  top: 126px;
  z-index: 2; }
  /* line 147, ../sass/screen.scss */
  div#main div#content {
    min-height: 500px;
    margin-top: -1em;
    margin-bottom: 2em;
    background-color: #fff;
    -webkit-box-shadow: #999999 0px 15px 40px;
    -moz-box-shadow: #999999 0px 15px 40px;
    box-shadow: #999999 0px 15px 40px;
    padding: 2em 2em 2em 2em; }

/* line 159, ../sass/screen.scss */
div#content li.active {
  background: #e8e8e8; }
/* line 162, ../sass/screen.scss */
div#content a {
  color: #1a171b; }
/* line 171, ../sass/screen.scss */
div#content nav#nav_header {
  margin-bottom: 2em; }
  /* line 173, ../sass/screen.scss */
  div#content nav#nav_header li {
    font-weight: bold; }
/* line 180, ../sass/screen.scss */
div#content nav#categories ul#left_nav > li {
  margin-bottom: 1em; }
  /* line 182, ../sass/screen.scss */
  div#content nav#categories ul#left_nav > li ul {
    font-weight: normal; }
    /* line 184, ../sass/screen.scss */
    div#content nav#categories ul#left_nav > li ul li {
      padding-left: 1em; }

/* line 193, ../sass/screen.scss */
div#products_container {
  margin: 1em 0 1em 0; }
  /* line 195, ../sass/screen.scss */
  div#products_container div.products {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2.5em;
    -webkit-box-shadow: lightgrey 0px 1px 2px;
    -moz-box-shadow: lightgrey 0px 1px 2px;
    box-shadow: lightgrey 0px 1px 2px; }
    /* line 200, ../sass/screen.scss */
    div#products_container div.products:hover {
      -webkit-box-shadow: #999999 0px 1px 3px;
      -moz-box-shadow: #999999 0px 1px 3px;
      box-shadow: #999999 0px 1px 3px; }

/* line 206, ../sass/screen.scss */
footer {
  min-height: 100px;
  padding: 1em 0em 1em 0em;
  color: #333333;
  border-top: solid 1px #d3d3d3; }
  /* line 211, ../sass/screen.scss */
  footer ul.social-links li {
    list-style: none; }
    /* line 212, ../sass/screen.scss */
    footer ul.social-links li a {
      display: block;
      margin-left: 0.4em;
      float: right;
      width: 56px;
      height: 56px;
      text-indent: -999px;
      overflow: hidden;
      -webkit-transition-property: background-position;
      -moz-transition-property: background-position;
      -o-transition-property: background-position;
      transition-property: background-position;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }

/* line 228, ../sass/screen.scss */
div#mainpage img {
  -webkit-box-shadow: lightgrey 0px 1px 3px;
  -moz-box-shadow: lightgrey 0px 1px 3px;
  box-shadow: lightgrey 0px 1px 3px;
  width: 100%;
  margin-bottom: 2em; }
