/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 98, social/*.png */
.social-sprite, .facebook, .skype, .yahoo {
  background: url('../../assets/img/social-s60fc98667c.png') no-repeat; }

/* line 9, ../sass/screen.scss */
.facebook {
  background-position: 0 -280px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .facebook:hover, .facebook.facebook_hover, .facebook.facebook-hover {
    background-position: 0 -224px; }

/* line 10, ../sass/screen.scss */
.skype {
  background-position: 0 -56px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .skype:hover, .skype.skype_hover, .skype.skype-hover {
    background-position: 0 0; }

/* line 11, ../sass/screen.scss */
.yahoo {
  background-position: 0 -392px; }
  /* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
  .yahoo:hover, .yahoo.yahoo_hover, .yahoo.yahoo-hover {
    background-position: 0 -336px; }

/* line 18, ../sass/screen.scss */
html {
  overflow-y: scroll;
  background: #fafafa; }

/* line 24, ../sass/screen.scss */
body {
  background-color: transparent;
  color: #1a171b;
  font-family: 'Lato', Calibri, Arial, sans-serif; }

/* line 30, ../sass/screen.scss */
a {
  text-decoration: none; }

/* line 32, ../sass/screen.scss */
hr {
  border-color: #d3d3d3; }

/* line 34, ../sass/screen.scss */
.drop {
  display: none; }

/* line 36, ../sass/screen.scss */
span.badge {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

/* line 40, ../sass/screen.scss */
h3 {
  font-family: Helvetica, Arial, sans-serif; }

/* line 42, ../sass/screen.scss */
h4 {
  color: #e74c3c; }

/* line 44, ../sass/screen.scss */
label.error {
  color: #e74c3c;
  font-weight: normal; }

/* line 46, ../sass/screen.scss */
#bar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 34px;
  background: url(../../assets/img/bg_header_top.png) repeat-x transparent;
  z-index: 100; }
  /* line 54, ../sass/screen.scss */
  #bar ul {
    list-style: none;
    width: 100%;
    max-width: 1170px;
    height: 24px;
    margin: 0 auto;
    letter-spacing: 0.05em;
    word-spacing: 0.3em;
    background: #1A171B; }
    /* line 64, ../sass/screen.scss */
    #bar ul li {
      position: relative;
      float: right;
      height: 24px;
      margin-right: 2px;
      padding: 0 14px 0 10px;
      background: transparent url(http://localhost:8080/SMShop/public/assets/img/bg_icons_rightaligned.png) right -203px no-repeat;
      line-height: 24px;
      white-space: nowrap;
      color: #fff; }
      /* line 65, ../sass/screen.scss */
      #bar ul li:first-child {
        background: none; }
      /* line 75, ../sass/screen.scss */
      #bar ul li a {
        font-size: 0.8em;
        text-decoration: none;
        color: #fff; }
        /* line 79, ../sass/screen.scss */
        #bar ul li a:hover {
          text-decoration: underline; }

/* line 85, ../sass/screen.scss */
header {
  font-family: Helvetica, Arial;
  position: absolute;
  height: 100px;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 3;
  -webkit-box-shadow: lightgrey 0px 5px 20px;
  -moz-box-shadow: lightgrey 0px 5px 20px;
  box-shadow: lightgrey 0px 5px 20px; }
  /* line 96, ../sass/screen.scss */
  header div#nav_header {
    margin-top: 37px; }
    /* line 98, ../sass/screen.scss */
    header div#nav_header a#logotype > img {
      height: 70px;
      margin-top: -10px; }
  /* line 103, ../sass/screen.scss */
  header ul {
    list-style: none; }
  /* line 106, ../sass/screen.scss */
  header #subNav {
    line-height: 0.8em;
    margin: 0.2em 0 0.2em 0; }
    /* line 109, ../sass/screen.scss */
    header #subNav li {
      display: inline;
      padding: 0 0 0 1.6em;
      background: url(http://localhost:8080/SMShop/public/assets/img/bg_icons.png?10) no-repeat -41px -40px;
      font-size: 0.9em;
      letter-spacing: 0.12em;
      text-transform: uppercase; }
      /* line 110, ../sass/screen.scss */
      header #subNav li:first-child {
        background: none; }
      /* line 119, ../sass/screen.scss */
      header #subNav li a {
        text-decoration: none;
        color: #1a171b; }
        /* line 122, ../sass/screen.scss */
        header #subNav li a:hover {
          text-decoration: underline; }
  /* line 126, ../sass/screen.scss */
  header #nav {
    margin-top: 0.8em; }
    /* line 128, ../sass/screen.scss */
    header #nav li {
      display: inline;
      padding: 0 0 0 1.3em;
      background: url(http://localhost:8080/SMShop/public/assets/img/bg_icons.png?10) no-repeat -41px -37px;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
      /* line 129, ../sass/screen.scss */
      header #nav li:first-child {
        background: none; }
      /* line 139, ../sass/screen.scss */
      header #nav li a {
        display: inline;
        margin: 5px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        text-decoration: none;
        color: #333333; }
        /* line 148, ../sass/screen.scss */
        header #nav li a:hover {
          color: #e74c3c;
          margin: 0 15px 0 15px; }

/* line 158, ../sass/screen.scss */
div#main {
  position: relative;
  top: 126px;
  z-index: 2; }
  /* line 162, ../sass/screen.scss */
  div#main div#content {
    min-height: 750px;
    margin-top: -1em;
    margin-bottom: 2em;
    background-color: #fff;
    -webkit-box-shadow: #999999 0px 15px 40px;
    -moz-box-shadow: #999999 0px 15px 40px;
    box-shadow: #999999 0px 15px 40px;
    padding: 2em 2em 2em 2em; }

/* line 174, ../sass/screen.scss */
div#content li.active {
  background: #e8e8e8; }
/* line 177, ../sass/screen.scss */
div#content a {
  color: #1a171b; }
/* line 186, ../sass/screen.scss */
div#content nav#nav_header {
  margin-bottom: 2em; }
  /* line 188, ../sass/screen.scss */
  div#content nav#nav_header li {
    font-weight: bold; }
/* line 195, ../sass/screen.scss */
div#content nav#categories ul#left_nav > li {
  margin-bottom: 1em; }
  /* line 197, ../sass/screen.scss */
  div#content nav#categories ul#left_nav > li ul {
    font-weight: normal; }
    /* line 199, ../sass/screen.scss */
    div#content nav#categories ul#left_nav > li ul li {
      padding-left: 1em; }

/* line 208, ../sass/screen.scss */
div#products_container {
  margin: 1em 0 1em 0; }
  /* line 210, ../sass/screen.scss */
  div#products_container div.products {
    padding: 1em;
    margin-top: 1em;
    height: 20em;
    -webkit-box-shadow: lightgrey 0px 1px 2px;
    -moz-box-shadow: lightgrey 0px 1px 2px;
    box-shadow: lightgrey 0px 1px 2px; }
    /* line 215, ../sass/screen.scss */
    div#products_container div.products:hover {
      -webkit-box-shadow: #999999 0px 1px 3px;
      -moz-box-shadow: #999999 0px 1px 3px;
      box-shadow: #999999 0px 1px 3px; }
    /* line 218, ../sass/screen.scss */
    div#products_container div.products img {
      margin: auto;
      height: 13em; }

/* line 225, ../sass/screen.scss */
div.info_container {
  margin: 1em 0 1em 0; }
  /* line 228, ../sass/screen.scss */
  div.info_container table th {
    text-align: center !important; }
  /* line 231, ../sass/screen.scss */
  div.info_container table td {
    text-align: center;
    vertical-align: middle; }

/* line 238, ../sass/screen.scss */
footer {
  min-height: 100px;
  padding: 1em 0em 1em 0em;
  color: #333333;
  border-top: solid 1px #d3d3d3; }
  /* line 243, ../sass/screen.scss */
  footer ul.social-links li {
    list-style: none; }
    /* line 244, ../sass/screen.scss */
    footer ul.social-links li a {
      display: block;
      margin-left: 0.4em;
      float: right;
      width: 56px;
      height: 56px;
      text-indent: -999px;
      overflow: hidden;
      -webkit-transition-property: background-position;
      -moz-transition-property: background-position;
      -o-transition-property: background-position;
      transition-property: background-position;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }

/* line 260, ../sass/screen.scss */
div#mainpage img {
  -webkit-box-shadow: lightgrey 0px 1px 3px;
  -moz-box-shadow: lightgrey 0px 1px 3px;
  box-shadow: lightgrey 0px 1px 3px;
  width: 100%;
  margin-bottom: 2em; }

/* line 268, ../sass/screen.scss */
div#loading_div {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url(../../assets/img/ajax-loader.gif) 50% 50% no-repeat; }

/* line 282, ../sass/screen.scss */
body.loading {
  overflow: hidden; }
  /* line 284, ../sass/screen.scss */
  body.loading div#loading_div {
    display: block; }

/* line 289, ../sass/screen.scss */
section#products_header {
  margin-bottom: 1em;
  padding-left: 1em; }

/* line 294, ../sass/screen.scss */
div#item_detail {
  padding-bottom: 1.5em; }
  /* line 297, ../sass/screen.scss */
  div#item_detail div#slideshow ul {
    list-style: none; }
  /* line 300, ../sass/screen.scss */
  div#item_detail div#slideshow a {
    text-decoration: none; }
  /* line 304, ../sass/screen.scss */
  div#item_detail img {
    width: 100%;
    -webkit-box-shadow: lightgrey 0px 1px 2px;
    -moz-box-shadow: lightgrey 0px 1px 2px;
    box-shadow: lightgrey 0px 1px 2px; }
    /* line 307, ../sass/screen.scss */
    div#item_detail img:hover {
      -webkit-box-shadow: #999999 0px 1px 3px;
      -moz-box-shadow: #999999 0px 1px 3px;
      box-shadow: #999999 0px 1px 3px; }
  /* line 312, ../sass/screen.scss */
  div#item_detail div#thumbs ul {
    margin-top: 20px; }
    /* line 314, ../sass/screen.scss */
    div#item_detail div#thumbs ul li {
      float: left;
      margin-bottom: 1em; }
  /* line 321, ../sass/screen.scss */
  div#item_detail ul#size-ul li {
    display: inline; }
    /* line 323, ../sass/screen.scss */
    div#item_detail ul#size-ul li span {
      cursor: pointer;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
    /* line 328, ../sass/screen.scss */
    div#item_detail ul#size-ul li span.active {
      background: #2980b9; }

/* line 336, ../sass/screen.scss */
div.cart_container {
  padding: 1em 2em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: lightgrey 0px 0px 2px;
  -moz-box-shadow: lightgrey 0px 0px 2px;
  box-shadow: lightgrey 0px 0px 2px; }
  /* line 340, ../sass/screen.scss */
  div.cart_container img {
    margin-top: 0.7em; }
  /* line 341, ../sass/screen.scss */
  div.cart_container div.cart_header {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0.5em; }
  /* line 346, ../sass/screen.scss */
  div.cart_container div.cartRemove a {
    text-decoration: underline !important;
    color: #1a171b; }
    /* line 349, ../sass/screen.scss */
    div.cart_container div.cartRemove a:hover {
      text-decoration: none !important; }

/* line 355, ../sass/screen.scss */
table#checkout_table th, table#checkout_table td {
  border: none; }
